<select id = "position_list" xonchange="positionChange(this)">
  <option value="ALL">All</option>
  <option value="PG">Point Guard</option>
  <option value="SG">Shooting Guard</option>
  <option value="SF">Small Forward</option>
  <option value="PF">Power Forward</option>
  <option value="C">Center</option>
</select>

<div class="player_list">
  <table class = "player_table">

      <% @athletes.each do |athlete| %>
        <tr id="athlete_<%=athlete.id%>_tr" class="position_<%=athlete.position%> athletes-list">
          <td id="player_<%=athlete.id%>" class="player_text">
            <%= link_to athlete.full_name, team_path(@team, :athlete_id => athlete.id), :remote => true, :method => :put, :class => 'add-athlete' %>
          </td>
          <td class="player_text">
            <%= athlete.position %>
          </td>
          <td class="player_text">
            <% unless athlete.professional_team.nil? %>
              <%= athlete.professional_team.short_name.upcase %>
            <% end %>
          </td>
        </tr>
      <% end %>

  </table>

</div>
