<select id = "position_list" xonchange="positionChange(this)">
  <option value="ALL">All</option>
  <option value="PG">Point Guard</option>
  <option value="SG">Shooting Guard</option>
  <option value="SF">Small Forward</option>
  <option value="PF">Power Forward</option>
  <option value="C">Center</option>
</select>

<!-- start of individual drop down menus -->
<!-- <% ['PG','SG','SF','PF','C'].each_with_index do |pos, num| %>
  <select xonchange="positionChange(this)">
    <option value="player">--- <%= pos %> ---</option>
    <% @ath_by_pos[num].each do |athlete| %>
      <option value="player"><%= athlete.full_name %></option>
    <% end %>
  </select>
<% end %> -->
<!-- end of individual drop down menus -->

<div class="player_list">

  <table class = "player_table">

    <% @athletes.each do |athlete| %>
    <tr class="position_<%=athlete.position%>">
      <td>
        <%= fields_for "athlete_ids[]", athlete do |athlete_fields| %>
          <%= athlete_fields.check_box [], { :checked => false }, athlete.id, nil %>
        <% end %>
      </td>
      <td id="player_<%=athlete.id%>" class="player_text">
        <%= athlete.full_name %>
      </td>
      <td class="player_text">
        <%= athlete.position %>
      </td>
      <td class="player_text">
        <% unless athlete.professional_team == nil %>
          <%= athlete.professional_team.short_name.upcase %>
        <% end %>
      </td>
    </tr>
    <% end %>

  </table>

</div>
<br>
