
<div class="container centered">

  <h2>Pick Your 5 Players </h2>
  <h4><%= link_to "Your Fierce Matchup", game_path(@team.game)%></h4>

  <div class="row">

    <div class="span9  athletes">
      <h3><%= @team.name %></h3>
        <% @team.athletes.each do |athlete| %>
          <%= render :partial => 'athletes/athlete_pic', :locals => {:athlete => athlete} %>
        <% end %>
    </div>

    <div class="span3">
      <%= render 'athletes_list', :athletes => @athletes %><br>
      <%=link_to "Submit Your Team", games_path, :class =>'btn btn primary btn-large' %>
    </div>
  </div>
</div>