
<div class="container centered">

  <h2>Pick Your 5 Players </h2>
  <h4><%= link_to "Your Fierce Matchup", game_path(@team.game)%></h4>

    <div class="span12">
      <div class="row">

        <div class="athletes">
        <h3><%= @team.name %></h3>

          <div id="edit-PG" class="edit-position">
            <% @team.athletes.each do |athlete| %>
              <% if athlete.position == "PG" %>
                <%= render :partial => 'athletes/athlete_pic', :locals => {:athlete => athlete} %>
              <% end %>
            <% end %>
          </div>

          <div id="edit-SG" class="edit-position">
            <% @team.athletes.each do |athlete| %>
              <% if athlete.position == "SG" %>
                <%= render :partial => 'athletes/athlete_pic', :locals => {:athlete => athlete} %>
              <% end %>
            <% end %>
          </div>

          <div id="edit-SF" class="edit-position">
            <% @team.athletes.each do |athlete| %>
              <% if athlete.position == "SF" %>
                <%= render :partial => 'athletes/athlete_pic', :locals => {:athlete => athlete} %>
              <% end %>
            <% end %>
          </div>

          <div id="edit-PF" class="edit-position">
            <% @team.athletes.each do |athlete| %>
              <% if athlete.position == "PF" %>
                <%= render :partial => 'athletes/athlete_pic', :locals => {:athlete => athlete} %>
              <% end %>
            <% end %>
          </div>

          <div id="edit-C" class="edit-position">
            <% @team.athletes.each do |athlete| %>
              <% if athlete.position == "C" %>
                <%= render :partial => 'athletes/athlete_pic', :locals => {:athlete => athlete} %>
              <% end %>
            <% end %>
          </div>

        </div>

      </div>

    <div class="row">
        <p id="pg-text" class="position-text">
          PG
        </p>
        <p id="sg-text" class="position-text">
          SG
        </p>
        <p id="sf-text" class="position-text">
          SF
        </p>
        <p id="pf-text" class="position-text">
          PF
        </p>
        <p id="c-text" class="position-text">
          C
        </p>
    </div>

  </div>

  <div class="row">

    <div class="span3">
      <div class="athletes-holder">
      <%= render 'athletes_list', :athletes => @athletes %><br>
      <%=link_to "Submit Your Team", games_path, :class =>'btn btn primary btn-large' %>
      </div>
    </div>

  </div>

</div>