
<div class="container centered">

  <h2>Edit</h2>

  <div class="span8 athletes">
    <%=@team.calculate_fantasy_points%>
    <h3><%= @team.name %></h3>
    <% if @team.athletes.length == 0 %>
      <%= render 'athletes/blank' %>
    <% else %>
      <% @team.athletes.each do |athlete| %>
        <%= render :partial => 'athletes/athlete_pic', :locals => {:athlete => athlete} %>
      <% end %>
    <% end %>
  </div>

  <div id="update-container">

  </div>

  <div class="span3">
    <%= render 'athletes_list', :athletes => @athletes %>
  </div>

</div>