<div class='container'>
  <% @teams.each do |team| %>
    <p>
    DATE: <%= team.date.to_s %><br>
    <div class="team-name"><%= team.name %></div>
    <% team.athletes.each do |athlete| %>
      <%#= athlete.first_name %> <%#= athlete.last_name %>
			<%= athlete.full_name %><br>
    <% end %>
    <%= link_to 'Edit', edit_user_team_path(current_user.id, team.id), class: 'btn btn-mini btn-primary' %>
    <div class="fb-like" data-href="https://dry-gorge-5283.herokuapp.com/users/<%=current_user.id%>/teams/<%=team.id%>" data-send="false" data-width="450" data-show-faces="true"></div>
    </p>
  <% end %>
</div>