<div class="container centered">
  <% @teams.each do |team| %>
  
  <div class="games_index_team">
    <div class="games_index_team_name">
      <%= link_to team.name, edit_team_path(team.id) %>
    </div>
    <div class="card_lineup_container">    
      <div class="games_index_team_lineup">
        <% team.athletes.each do |athlete| %>
          <div class="card_container">
            <%= render 'athletes/athlete_pic', :athlete => athlete %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  
  
  
  <!--     <p>
      DATE: <%= team.date.to_s %><br>
      <div class="team-name"><%= link_to team.name, game_path(team.game) %></div>
      <% team.athletes.each do |athlete| %>
        <%= athlete.full_name %><br>
      <% end %>
      <%= link_to 'Edit', edit_team_path(team.id), class: 'btn btn-mini btn-primary' %>
      <div class="fb-like" data-href="https://dry-gorge-5283.herokuapp.com/users/<%=current_user.id%>/teams/<%=team.id%>" data-send="false" data-width="450" data-show-faces="true"></div>
      </p> -->
  
  <% end %>
</div>