<td id="player_<%=athlete.id%>" class="player_text">
  <%= athlete.last_name %>,
  <%= athlete.first_name %>
</td>
<td class="player_text">
  <%= athlete.position %>
</td>
<td class="player_text">
  <%= athlete.professional_team %>
</td>