<div href="#" class="player_card_small">
  <!-- <img src="http://i.cdn.turner.com/nba/nba/media/act_<%= athlete.url_name%>.jpg"> -->
  <div class="image">
  <img src="http://www.nba.com/media/playerfile/<%=athlete.url_name%>.jpg" title="<%=athlete.full_name%>">
  </div>
  <div class="right_text">
    <div class="name"><%= athlete.full_name %></div>
    <div class="stats">pts: <%= athlete.points_today(date) %> </div>
    <div class="stats">rbs: <%= athlete.rebounds_today(date) %> </div>
    <div class="stats">ast: <%= athlete.assists_today(date) %> </div>
    <!--<div class="stats"><%= athlete.season_average.points %>ppg
                       <%= athlete.season_average.rebounds %>rpg
                       <%= athlete.season_average.assists %>apg</div> -->
  </div>
</div>
