<div class="game_<%=game.id%> games_index">
  
  <div class="games_index_fb_pic">
    <img src="<%=game.teams[0].user.image_url%>">
  </div>
  <div class="games_index_team_name">
    <%= game.teams[0].name %>
  </div>
  <div class="games_index_vs">
    VS
  </div>
  <div class="games_index_team_name">
    <%= game.full? ? game.teams[1].name : "TBD" %>
  </div>
  <div class="games_index_fb_pic">
    <img src="<%= game.full? ? game.teams[1].user.image_url : "/assets/empty_profile.png" %>">
  </div>
  
  <div class="games_index_home_lineup">
    <% game.teams[0].athletes.each do |athlete| %>
      <img src="http://www.nba.com/media/playerfile/<%=athlete.url_name%>.jpg" title="<%=athlete.full_name%>">
    <% end %>
  </div>
  <div class="games_index_vs">
  </div>
  <div class="games_index_road_lineup">
    <% if game.full? %>
      <% game.teams[1].athletes.each do |athlete| %>
        <img src="http://www.nba.com/media/playerfile/<%=athlete.url_name%>.jpg" title="<%=athlete.full_name%>">
      <% end %>
    <% end %>      
  </div>
</div>
