<div class="containter centered">
  
  <h3>Game for <%= @teams.first.date %></h3>
  <!-- display both users and their teams -->

  <div class="show_fb_pic">
    <img src="<%=@teams.first.user.image_url%>">
  </div>
  <div class="show_name">
    <%= @teams.first.name %>
  </div>
  <div class="show_name">
    <% if @game.full? %>
      <%= @teams.last.name %>
    <% else %>
      <%= link_to 'Join This Game', edit_game_path(@game) %>
    <% end %>
  </div>
  <div class="show_fb_pic">
    <% if @game.full? %>
      <img src="<%=@teams.last.user.image_url%>">
    <% else %>
      <img src="/assets/empty_profile.png" class="show_fb_pic_empty">
    <% end %>
  </div>
  
  <!-- <br> -->
  
  <div class="show_lineup">
    <% @teams.first.athletes.each do |athlete| %>
      <%#= render 'athletes/athlete_pic', :athlete => athlete %>
      <%= render 'athletes/athlete_pic_small', :athlete => athlete %>
    <% end %>
  </div>
  
  <div class="show_position">
    <% @teams.first.athletes.each do |athlete| %>
      <%= render 'athletes/athlete_points_today', :athlete => athlete %>
    <% end %>
    <%= render 'athletes/team_points_today'%>
    
  </div>
  <div class="show_position">
    <% if @game.full? %>
      <% @teams.first.athletes.each do |athlete| %>
        <%= render 'athletes/athlete_points_today', :athlete => athlete %>
      <% end %>  
      <%= render 'athletes/team_points_today'%>
    <% end %>
  </div>
  
  <div class="show_lineup">
    <% if @game.full? %>
      <% @teams.last.athletes.each do |athlete| %>
        <%#= render 'athletes/athlete_pic', :athlete => athlete %>
        <%= render 'athletes/athlete_pic_small', :athlete => athlete %>
      <% end %>
    <% end %>
  </div>


</div>