<!DOCTYPE html>
<html>
<head>
  <title>Adf</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=209909909144385";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
  <div class="navbar .navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="/users/">All Day Fantasy</a>
    <ul class="nav">
      <li class="active"><a href="#">My Team</a></li>
      <li><a href="#">History</a></li>
      <li><a href="#">Account</a></li>
      <li class="navbar-text pull-right">
        <% if current_user %>
          <li >Signed in as <strong><%= current_user.name %></strong>!</li>
          <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
        <% else %>
          <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
        <% end %>
      </li>
    </ul>
  </div>
</div>
	<div id="user_nav" class="container">

	</div>
	
<%= yield %>

</body>
</html>
