<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
  <title>ADF - Daily Fantasy Sports</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=209909909144385";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div class="navbar .navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">

        <a class="brand" href="/users/">All Day Fantasy</a>

        <ul class="nav">
          <% if current_user %>
            <li><a href="/teams">My Teams</a></li>
            <li><a href="/games">My Games</a></li>
          <% end %>

          <!-- <li><a href="#">History</a></li> -->
          <!-- <li><a href="#">Account</a></li> -->
        </ul>

        <ul class="nav pull-right">
          <% if current_user %>
            <li class="sign_in_text">Signed in as <strong><%= current_user.name %></strong>!</li>
            <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
          <% else %>
            <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
  <div id="user_nav" class="container">

  </div>
	<% if flash[:notice] %>
		<div class="alert alert-success"><%= flash[:notice] %></div>
	<% end %>
	<% if flash[:error] %>
		<div class="alert alert-failure"><%= flash[:error] %></div>
	<% end %>

<%= yield %>

<%#= debug params %>
</body>
</html>
